*{
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #383D58;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
} 

.cabeçalho-imagem{
    width: 20%;
    font-size: large;
} 

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}

.escola-imagem{
    width: 30%;

}

.Escola{
     background-image: linear-gradient(#383D58,#573858);
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 24px 0;

}

.escola-div-conteudo{
    width: 35%;
}

.PREMEN{
    padding: 24px 0;
}

.Estudante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 24px;
}